<div class="container">
    <div class="account">
        <button class="options-button" (click)="options()">|||</button>
        <div class="user">
            <div class="profile">
                <div class="img"><img src="{{ this.user.profile_Url }}" alt=""></div>
                <div class="nickname"><h3>{{ this.user.nickname }}</h3></div>
            </div>
            <div class="data">
                <div class="values">
                    <h4>followers:</h4>
                    <p>{{ this.user.followers.length }}</p>
                </div>
                <div class="values">
                    <h4>following:</h4>
                    <p>{{ this.user.followerOf.length }}</p>
                </div>
                <div class="values">
                    <h4>posts:</h4>
                    <p>{{ this.user.posts.length }}</p>
                </div>
            </div>
        </div>
        <div class="description">
            <p>{{ this.user.description }}</p>
        </div>
    </div>
    <div class="posts">
        <div *ngFor="let posts of values" (click)="preview(posts)">
            <div class="img">
                <img *ngIf="posts.type == 'img'" src="{{ posts.url }}" alt="">
                <video *ngIf="posts.type == 'video'" src="{{ posts.url }}" alt=""></video>
            </div>
        </div>
    </div>
</div>
<app-options-account *ngIf="optionStatus == true" [body]="body" (resetEvent)="reset()" (closeEvent)="closeOptions()"></app-options-account>