.container{
    width: 100%;
    height: 100%;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.form-group{
    width: 90%;
    height: 35%;
}
.form-group p{
    font-size: 1.2vw;
}
.form-group input{
    width: 100%;
    height: 40%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: .1vw solid;
    font-size: 1.3vw;
}
.form-group button{
    width: 100%;
    height: 30%;
    border: none;
    border-radius: .5vw;
    background: transparent;
    cursor: pointer;
    font-size: 1.4vw;
    transition: background 1s ease;
}
.form-group button:hover{
    background: rgb(206, 206, 206);
    box-shadow: 0 0 .1vw 0 rgb(206, 206, 206), 0 0 .4vw 0 rgb(206, 206, 206), 0 0 .8vw 0 rgb(206, 206, 206);
}
.form-group div{
    width: 100%;
    height: 30%;
    background: rgb(1, 0, 12);
    border-radius: .5vw;
    cursor: no-drop;
    display: flex;
    justify-content: center;
    align-items: center;
}